.blog {
	padding: 12.571rem
		0 8.571rem 0;
	background-color: $white-bg;

	@include media(
		mobile
	) {
		// padding-bottom: 13.333rem;
	}

	&__title {
		margin-bottom: 5.714rem;
		text-align: center;
	}

	&__category {
		margin-bottom: 1.714rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;

		ul {
			display: flex;
			gap: 2.286rem;
		}
	}

	&__count {
		display: flex;
		gap: 0.714rem;

		p {
			color: $gray-text;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(
			3,
			1fr
		);
		gap: 1.071rem;
	}
}
