.blog {
	padding: 12.4rem 0
		8.571rem 0;
	background-color: $white-bg;

	@include media(
		mobile
	) {
		padding: 8.68rem
			0 5.61rem 0;
	}

	&__title {
		margin-bottom: 5.714rem;
		text-align: center;
	}

	&__category {
		margin-bottom: 1.72rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;

		@include media(
			mobile
		) {
			margin-bottom: 1.1rem;
			flex-direction: column;
			align-items: flex-start;
		}

		ul {
			display: flex;
			gap: 2.286rem;

			@include media(
				mobile
			) {
				display: none;
			}
		}
	}

	&__count {
		display: flex;
		gap: 0.714rem;

		p {
			color: $gray-text;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(
			3,
			1fr
		);
		gap: 1.071rem;

		@include media(
			tablet
		) {
			grid-template-columns: repeat(
				2,
				1fr
			);
			gap: 1.143rem;
		}

		@include media(
			mobile
		) {
			grid-template-columns: repeat(
				1,
				1fr
			);
		}
	}
}
