.checkout {
  padding: 7rem 0 4rem 0;
  background-color: $white-bg;

  @include media(mobile) {
    padding: 5rem 0;
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.woocommerce-billing-fields {
  margin-bottom: 1rem;

  input {
    border-bottom: 0.071rem solid rgba(32, 32, 32, 0.4);
    border-radius: 0 !important;
    background-color: transparent;
    line-height: 1.2;
    transition: $transition;

    &:hover,
    &:focus,
    &:active {
      border-color: $black-text;
    }
  }
}

.woocommerce form .form-row textarea {
  margin-bottom: 1rem;
  border-bottom: 0.071rem solid rgba(32, 32, 32, 0.4);
  border-radius: 0 !important;
  line-height: 1.2;
  color: $black-text;
  background-color: transparent;
  transition: $transition;
  height: 5.1rem;
  resize: none;

  &:hover,
  &:focus,
  &:active {
    border-color: $black-text;
  }
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  background-color: $black-text;
  text-transform: uppercase;
  border-radius: 0 !important;
  transition: $transition;

  &:hover,
  &:focus {
    border-radius: 0.5rem;
  }

  &:active {
    background-color: $black;
  }
}

.woocommerce-checkout #payment {
  background-color: transparent;
  & .form-row {
    @include media(mobile) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .btn {
    position: relative;
    height: 2.786rem;
  
    width: fit-content;
    padding: 0.75rem 0.94rem;
    font-family: inherit;
    font-size: 1rem;
    color: $white;
    background-color: $black-text;
    cursor: pointer;
    text-transform: uppercase;
    transition: $transition;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    svg {
      display: block;
      width: 0.786rem;
      height: 0.786rem;
      stroke: $white;
    }
  
    &:hover {
      .btn__text {
        span {
          transform: translateY(-100%);
        }
      }
    }
    &__text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
      span {
        display: block;
        transition: 0.15s ease-in-out;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
        font-family: $helvetica;
        padding-top: 0.23rem;
        padding-bottom: 0.0rem;
        &+span{
          padding-bottom: 0;
          padding-top: 0.23rem;
        }
      }
    }

    &:hover,
    &:focus {
      outline: none !important;

      .btn--top-text {
        transform: translateY(-200%);
      }
      .btn--bottom-text {
        transform: translateY(-100%);
      }
    }
  }
}

.woocommerce-checkout .optional,
.woocommerce-checkout .cart-subtotal,
.woocommerce-privacy-policy-text,
.wc_payment_methods {
  display: none;
}
