.excursions-page {
	padding: 12.4rem 0
		8.571rem 0;
	background-color: $white-bg;

	@include media(
		mobile
	) {
		// padding-bottom: 13.333rem;
	}

	&__title {
		margin-bottom: 5.714rem;
		width: 35.714rem;
	}

	&__top {
		margin-bottom: 1.714rem;
	}

	&__count {
		display: flex;
		gap: 0.714rem;

		p {
			color: $gray-text;
			text-transform: uppercase;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(
			3,
			1fr
		);
		gap: 1.714rem;

		&
			> :nth-child(
				n + 4
			) {
			margin-top: 2.857rem;
		}
	}
}
