.reviews {
	padding: 12.571rem
		0 8.571rem 0;
	background-color: $white-bg;

	@include media(
		mobile
	) {
		// padding-bottom: 13.333rem;
	}

	&__title {
		margin: 0 auto;
		margin-bottom: 5.714rem;
		width: 40rem;
		text-align: center;
	}

	&__count {
		margin-bottom: 1.714rem;
		display: flex;
		justify-content: center;
		gap: 0.714rem;
		text-transform: uppercase;

		p {
			color: $gray-text;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(
			3,
			1fr
		);
		gap: 1.071rem;
	}
}
