.reviews {
	background-color: $white-bg;

	&__wrapper {
		padding: 12.25rem
			0 8.5rem 0;

		@include media(
			mobile
		) {
			// padding-bottom: 13.333rem;
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: 5.9rem;
		width: 40rem;
		text-align: center;
	}

	&__count {
		margin-bottom: 1.714rem;
		display: flex;
		justify-content: center;
		gap: 0.714rem;
		text-transform: uppercase;

		p {
			color: $gray-text;
		}
	}

	&__nothing {
		margin: 4rem
			auto;
		font-size: 2.5rem;
		text-align: center;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(
			2,
			1fr
		);
		grid-gap: 1.143rem;
	}

	&__column--first,
	&__column--second {
		display: flex;
		flex-direction: column;
		gap: 1.143rem;
	}

	&__card {
		padding: 1.714rem;
		height: fit-content;
		background-color: $white;
	}

	&__box {
		margin-bottom: 1.6rem;
		display: flex;
		align-items: center;
		gap: 1.143rem;
		text-transform: uppercase;

		h4 {
			margin-bottom: 0.2rem;
		}
	}

	&__circle {
		width: 9.571rem;
		height: 9.571rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		color: $gray-text-dark;
		background-color: $white-bg;
		font-size: 2.857rem;
		line-height: 1;
	}

	&__time {
		margin-bottom: 1.714rem;
		opacity: 0.4;
		line-height: 1.2;
	}

	&__rating {
		height: 1.786rem;
	}

	&__content {
		font-size: 1.429rem;
		line-height: 1.2;
	}

	&__gallery {
		margin-top: 1.85rem;
		display: grid;
		grid-template-columns: repeat(
			4,
			1fr
		);
		gap: 0.571rem;

		img {
			height: 10.857rem;
		}
	}

	&__bottom {
		height: 53.143rem;
		display: flex;
		background-color: $white;

		img {
			width: 50.2%;
			height: 100%;
		}
	}

	&__form-wrap {
		padding: 2.2rem;
		width: 49.8%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h3 {
			margin-bottom: 1.03rem;
			font-size: 3.929rem;
			letter-spacing: -0.16rem;
		}

		h4 {
			width: 26rem;
			font-size: 1.429rem;
			line-height: 1.2;
		}
	}
}
