.reviews {
	background-color: $white-bg;

	&__wrapper {
		padding: 12.25rem
			0 8.5rem 0;

		@include media(
			mobile
		) {
			padding: 8.7rem
				0 5.7rem 0;
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: 5.9rem;
		width: 40rem;
		text-align: center;

		@include media(
			mobile
		) {
			width: 100%;
			margin-bottom: 2.8rem;
		}
	}

	&__count {
		margin-bottom: 1.714rem;
		display: flex;
		justify-content: center;
		gap: 0.714rem;
		text-transform: uppercase;

		@include media(
			mobile
		) {
			margin-bottom: 1.1rem;
		}

		p {
			color: $gray-text;
		}
	}

	&__nothing {
		margin: 4rem
			auto;
		font-size: 2.5rem;
		text-align: center;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(
			2,
			1fr
		);
		grid-gap: 1.143rem;

		@include media(
			mobile
		) {
			grid-template-columns: repeat(
				1,
				1fr
			);
		}
	}

	&__column--first,
	&__column--second {
		display: flex;
		flex-direction: column;
		gap: 1.143rem;
	}

	&__card {
		padding: 1.714rem;
		height: fit-content;
		background-color: $white;

		@include media(
			mobile
		) {
			padding: 1.143rem;
		}
	}

	&__box {
		margin-bottom: 1.6rem;
		display: flex;
		align-items: center;
		gap: 1.143rem;
		text-transform: uppercase;

		@include media(
			mobile
		) {
			margin-bottom: 1.1rem;
			gap: 1rem;
		}

		h4 {
			margin-bottom: 0.2rem;
		}
	}

	&__circle {
		width: 9.571rem;
		height: 9.571rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		color: $gray-text-dark;
		background-color: $white-bg;
		font-size: 2.857rem;
		line-height: 1;

		@include media(
			mobile
		) {
			width: 5.357rem;
			height: 5.357rem;
			font-size: 1.6rem;
		}
	}

	&__time {
		margin-bottom: 1.714rem;
		opacity: 0.4;
		line-height: 1.2;

		@include media(
			mobile
		) {
			margin-bottom: 0.714rem;
		}
	}

	&__rating {
		height: 1.786rem;

		@include media(
			mobile
		) {
			height: 1.357rem;
		}
	}

	&__content {
		font-size: 1.429rem;
		line-height: 1.2;

		@include media(
			mobile
		) {
			font-size: 1rem;
		}
	}

	&__gallery {
		margin-top: 1.85rem;
		display: grid;
		grid-template-columns: repeat(
			4,
			1fr
		);
		gap: 0.571rem;

		@include media(
			mobile
		) {
			margin-top: 1.9rem;
			gap: 0.286rem;
		}

		img {
			height: 10.857rem;

			@include media(
				tablet
			) {
				height: 7.5rem;
			}

			@include media(
				mobile
			) {
				height: 5.357rem;
			}
		}
	}

	&__bottom {
		height: 53.143rem;
		display: flex;
		background-color: $white;

		@include media(
			tablet
		) {
			height: 46.1rem;
		}

		@include media(
			mobile
		) {
			height: auto;
			flex-direction: column;
		}
	}

	&__image {
		img {
			height: 100%;

			@include media(
				tablet
			) {
				width: 34.5rem;
			}

			@include media(
				mobile
			) {
				width: 100%;
				height: 27.571rem;
			}
		}
	}

	&__form-wrap {
		padding: 2.2rem;
		width: 49.8%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media(
			mobile
		) {
			padding: 2.7rem
				1.143rem
				2.75rem
				1.143rem;
			width: 100%;
		}

		h3 {
			margin-bottom: 1.03rem;
			font-size: 3.929rem;
			letter-spacing: -0.16rem;

			@include media(
				mobile
			) {
				margin-bottom: 0.571rem;
				font-size: 1.857rem;
				letter-spacing: -0.08rem;
			}
		}

		h4 {
			width: 26rem;
			font-size: 1.429rem;
			line-height: 1.2;

			@include media(
				mobile
			) {
				margin-bottom: 3.29rem;
				width: 100%;
				font-size: 1rem;
			}
		}
	}
}

.page-id-86 {
	.footer {
		border-top: none;
	}
}

//fdfdfdfdfdfd
// &-stars {
// 	.score {
// 		display: flex;
// 		align-items: center;
// 		font-size: 1rem;
// 		position: relative;
// 		overflow: hidden;

// 		@include media(
// 			mobile
// 		) {
// 			font-size: 0.444rem;
// 		}
// 	}

// 	.fa {
// 		font-size: 1rem;

// 		@include media(
// 			mobile
// 		) {
// 			font-size: 0.444rem;
// 		}
// 	}

// 	.score-wrap {
// 		display: inline-block;
// 		position: relative;
// 		height: 1.1rem;
// 	}

// 	.score
// 		.stars-active {
// 		color: #ffb543;
// 		position: relative;
// 		z-index: 10;
// 		display: inline-block;
// 		overflow: hidden;
// 		white-space: nowrap;
// 	}

// 	.score
// 		.stars-inactive {
// 		color: #c5c5c5;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		-webkit-text-stroke: initial;
// 		/* overflow: hidden; */
// 	}
// }

// &-ammount {
// 	font-family: $NunMedium;
// 	font-size: 1rem;
// 	color: $grey;
// 	white-space: nowrap;

// 	@include media(
// 		mobile
// 	) {
// 		font-size: 0.446rem;
// 	}
// }
