.button {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 0.82rem
		1.2rem;
	background-color: $white;
	cursor: pointer;
	text-transform: uppercase;

	svg {
		width: 0.786rem;
		height: 0.786rem;
	}

	&:hover,
	&:focus {
		outline: none !important;
	}

	&:active {
	}

	&__lang {
		margin-right: 1.4rem;
		gap: 0.34rem;
		padding: 0.5rem
			0;
		color: $white;
		background-color: transparent;
		svg {
			stroke: $white;
		}
	}
}
