.button {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 0.82rem
		1.2rem;
	font-family: inherit;
	color: $white;
	background-color: $black-text;
	cursor: pointer;
	text-transform: uppercase;
	transition: $transition;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	svg {
		width: 0.786rem;
		height: 0.786rem;
		stroke: $white;
	}

	&:hover,
	&:focus {
		outline: none !important;
	}

	&:active {
		background-color: $black;
	}

	&__lang {
		margin-right: 1.4rem;
		gap: 0.34rem;
		padding: 0.5rem
			0;
		color: $black-text;
		background-color: transparent;
		svg {
			stroke: $black-text;
		}

		&:active {
			background-color: transparent;
		}
	}

	&--white {
		color: $black-text;
		background-color: $white;
		svg {
			stroke: $black-text;
		}

		&:active {
			background-color: $white;
		}
	}
}
