.custom-select,
.blog-select,
.excursions-select {
	position: relative;
	min-width: 3.757rem;

	@include media(
		mobile
	) {
		min-width: 4.7rem;
	}
}

.custom-select
// .blog-select,
// .excursions-select
	select {
	display: none;
}

.blog-select,
.excursions-select {
	.same-as-selected {
		display: none;
	}
	span {
		@include media(
			mobile
		) {
			display: none;
		}
	}
}
.blog-select {
	span {
		color: $gray-text;
	}
}
.select-selected {
	padding: 0.3rem 0
		0.3rem 0.3rem;
	color: $black-text;
	text-transform: uppercase;
	// transition: $transition;

	@include media(
		mobile
	) {
		font-size: 1.286rem;
	}

	&:after {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19' fill='none'%3E%3Cpath stroke='%23202020' stroke-linecap='round' d='M4.757 7.243 9 11.485l4.243-4.242'/%3E%3C/svg%3E");
		background-position: center;
		position: absolute !important;
		top: 50%;
		transform: translateY(
			-50%
		);
		right: 0.1rem;
		width: 1.357rem;
		height: 1.357rem;
		pointer-events: none;
		display: block;
		transition: 0.35s
			ease-in-out;
		-webkit-transition: 0.35s
			ease-in-out;
		-moz-transition: 0.35s
			ease-in-out;
		-ms-transition: 0.35s
			ease-in-out;
		-o-transition: 0.35s
			ease-in-out;
		background-repeat: no-repeat;

		@include media(
			mobile
		) {
			right: 0.3rem;
		}
	}

	&.select-arrow-active {
		// background-color: $white;
		&:after {
			transform: translateY(
					-50%
				)
				rotate(
					180deg
				);
			-webkit-transform: translateY(
					-50%
				)
				rotate(
					180deg
				);
			-moz-transform: translateY(
					-50%
				)
				rotate(
					180deg
				);
			-ms-transform: translateY(
					-50%
				)
				rotate(
					180deg
				);
			-o-transform: translateY(
					-50%
				)
				rotate(
					180deg
				);
		}

		// &
		// 	+ .select-items {
		// 	background-color: $white;
		// }
	}
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $black-text;
	cursor: pointer;
	transition: 0.35s
		ease-in-out;
	-webkit-transition: 0.35s
		ease-in-out;
	-moz-transition: 0.35s
		ease-in-out;
	-ms-transition: 0.35s
		ease-in-out;
	-o-transition: 0.35s
		ease-in-out;
}

.select-selected {
	transition: 0.35s
		ease-in-out;
	-webkit-transition: 0.35s
		ease-in-out;
	-moz-transition: 0.35s
		ease-in-out;
	-ms-transition: 0.35s
		ease-in-out;
	-o-transition: 0.35s
		ease-in-out;
}

/* Style items (options): */
.select-items {
	position: absolute;
	// color: $black;
	top: 100%;
	left: 0;
	z-index: 99;
	overflow: hidden;
	transition: 0.35s
		ease-in-out;
	-webkit-transition: 0.35s
		ease-in-out;
	-moz-transition: 0.35s
		ease-in-out;
	-ms-transition: 0.35s
		ease-in-out;
	-o-transition: 0.35s
		ease-in-out;
	max-height: 50rem;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding: 0.3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.38rem;
	justify-content: center;
	align-items: center;
	&:-webkit-scrollbar {
		display: none;
	}

	div {
		text-transform: uppercase;
	}
}

/* Hide the items when the select box is closed: */
.select-hide {
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

// .select-items
// 	div:hover,
// .same-as-selected {
// 	background-color: $white;
// 	transition: 0.35s
// 		ease-in-out;
// 	-webkit-transition: 0.35s
// 		ease-in-out;
// 	-moz-transition: 0.35s
// 		ease-in-out;
// 	-ms-transition: 0.35s
// 		ease-in-out;
// 	-o-transition: 0.35s
// 		ease-in-out;
// }
