.excursion-card {
	display: flex;
	flex-direction: column;
	background-color: $white;

	&:hover {
		.excursion-card__image
			img {
			transform: scale(
				1.1
			);
			-webkit-transform: scale(
				1.1
			);
			-moz-transform: scale(
				1.1
			);
			-ms-transform: scale(
				1.1
			);
			-o-transform: scale(
				1.1
			);
		}
	}

	&__image {
		overflow: hidden;
		img {
			height: 20rem;

			transition: 0.3s
				ease-in-out;
			-webkit-transition: 0.3s
				ease-in-out;
			-moz-transition: 0.3s
				ease-in-out;
			-ms-transition: 0.3s
				ease-in-out;
			-o-transition: 0.3s
				ease-in-out;
		}
	}

	&__wrapper {
		padding: 1.6rem
			1.143rem;

		@include media(
			mobile
		) {
			padding: 1.143rem;
		}
	}

	&__title {
		margin-bottom: 0.571rem;
		height: 4.571rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		font-size: 2.286rem;
		letter-spacing: -0.09rem;

		@include media(
			mobile
		) {
			height: 3.143rem;
			font-size: 1.571rem;
			letter-spacing: -0.06rem;
		}
	}

	&__text {
		margin-bottom: 4rem;
		height: 2.429rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		line-height: 1.2;

		@include media(
			mobile
		) {
			margin-bottom: 3.6rem;
			height: 3.643rem;
			-webkit-line-clamp: 3;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		display: flex;
		color: $gray-text;

		@include media(
			mobile
		) {
			margin-right: 0.2rem;
		}

		p {
			color: $black-text;
			font-family: $kudryashev;
			font-size: 2.286rem;
			letter-spacing: -0.12rem;
		}

		span {
			text-decoration: line-through;
			text-decoration-color: inherit;
			text-decoration-thickness: 0.071rem;
			text-decoration-skip-ink: none;
			line-height: 1.2;
		}
	}
}
