.excursion-card {
	display: flex;
	flex-direction: column;
	background-color: $white;

	&__image {
		img {
			height: 20rem;
		}
	}

	&__wrapper {
		padding: 1.6rem
			1.143rem;
	}

	&__title {
		margin-bottom: 0.571rem;
		height: 4.571rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		font-size: 2.286rem;
		letter-spacing: -0.09rem;
	}

	&__text {
		margin-bottom: 4rem;
		height: 2.429rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		line-height: 1.2;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		display: flex;
		color: $gray-text;

		p {
			color: $black-text;
			font-family: $kudryashev;
			font-size: 2.286rem;
			letter-spacing: -0.12rem;
		}

		span {
			text-decoration: line-through;
			text-decoration-color: inherit;
			text-decoration-thickness: 0.071rem;
			text-decoration-skip-ink: none;
			line-height: 1.2;
		}
	}
}
