.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.429rem;

	a {
		width: 2.214rem;
		height: 2.214rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 0.071rem
			solid
			transparent;
		transition: $transition;

		&:hover {
			border: 0.071rem
				solid
				$black-text;
		}
	}
}

.pagination
	.page-numbers {
	margin-top: 5.143rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	@include media(
		mobile
	) {
		margin-top: 4.6rem;
	}

	&:not(
			:last-child
		) {
		margin-right: 0.6rem;
	}
}

.pagination
	.page-numbers.current {
	width: 2.214rem;
	height: 2.214rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: $white;
	background-color: #262626;
}

.prev-arrow {
	&:after {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11' fill='none'%3E%3Cpath stroke='%23202020' stroke-linecap='round' stroke-linejoin='round' d='M7.15 1.863 3.515 5.5l3.637 3.637' /%3E%3C/svg%3E");
		background-position: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(
			-50%,
			-50%
		);
		width: 0.786rem;
		height: 0.786rem;
		background-repeat: no-repeat;
	}
}

.next-arrow {
	&:after {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11' fill='none'%3E%3Cpath stroke='%23202020' stroke-linecap='round' stroke-linejoin='round' d='M3.847 9.137 7.484 5.5 3.847 1.863'/%3E%3C/svg%3E");
		background-position: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(
			-50%,
			-50%
		);
		width: 0.786rem;
		height: 0.786rem;
		background-repeat: no-repeat;
	}
}
