.main__title {
	margin-bottom: -6rem;
	max-width: 52rem;
	color: $white;
	font-family: $kudryashev;
	font-size: 5.5rem;
	line-height: 1;
	letter-spacing: -0.221rem;
}

.section__title {
	margin-bottom: 1.714rem;
	font-family: $kudryashev;
	font-size: 5.5rem;
	line-height: 1;
	letter-spacing: -0.221rem;
}
