//Colors
$white: #fff;
$white-bg: #eaf2f5;
$black: #000;
$black-text: #202020;
$gray-text: rgba(
	32,
	32,
	32,
	0.4
);
$gray-text-dark: #d2dbdf;
$red-alert: #ff4040;

//fonts
$kudryashev: 'Kudryashev';
$helvetica: 'Helvetica';

//Transition
$transition: all
	0.3s ease-in-out;
