.excursions {
	padding: 8.2rem 0
		8.6rem 0;
	background-color: $white-bg;

	@include media(
		mobile
	) {
		padding: 5.6rem
			0 5.7rem 0;
	}

	&__subtitle {
		margin-bottom: 0.9rem;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;

		@include media(
			mobile
		) {
			margin-bottom: 1.1rem;
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: 3.65rem;
		width: 39.286rem;
		text-align: center;

		@include media(
			mobile
		) {
			margin: 0 0
				2.35rem 0;
			width: 100%;
		}
	}

	&__inner {
		margin-bottom: 4.6rem;

		@include media(
			mobile
		) {
			margin-bottom: 3.15rem;
			padding: 0
				1.143rem;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media(
			mobile
		) {
			margin-top: 2.2rem;
		}
	}
}
