.footer {
	padding: 3.429rem
		0;
	background-color: $white-bg;
	border-top: 0.071rem
		solid
		$black-text;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__inner {
		display: flex;
		gap: 8rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-transform: uppercase;
	}

	&__socials {
		display: flex;
		gap: 0.571rem;
		align-items: flex-end;
	}

	&__icon {
		svg {
			width: 1.786rem;
			height: 1.786rem;
			fill: $black-text;
			transition: $transition;

			&:hover,
			&:focus {
				transform: scale(
					1.13
				);
			}
		}
	}

	&__contacts {
		margin-right: 0.143rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		line-height: 1;
		text-transform: uppercase;

		p {
			margin-top: 2.2rem;
			opacity: 0.3;
			text-transform: uppercase;
		}
	}
}
