.gallery {
	padding: 8.4rem 0;
	background-color: $white-bg;

	@include media(
		mobile
	) {
		padding: 5.66rem
			0;
	}

	&__inner {
		margin-bottom: 3.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media(
			mobile
		) {
			margin-bottom: 2.3rem;
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__slider {
		.swiper-slide {
			img {
				height: 25.714rem;
				cursor: grab;

				@include media(
					tablet
				) {
					height: 21rem;
				}

				@include media(
					mobile
				) {
					height: 16.643rem;
				}
			}
		}

		.swiper-slide:nth-child(
				2n
			) {
			img {
				height: 31.643rem;

				@include media(
					tablet
				) {
					height: 26.2rem;
				}

				@include media(
					mobile
				) {
					height: 16.643rem;
				}
			}
		}

		.swiper-slide:nth-child(
				3n
			) {
			img {
				height: 35.214rem;

				@include media(
					tablet
				) {
					height: 30.2rem;
				}

				@include media(
					mobile
				) {
					height: 16.643rem;
				}
			}
		}
	}

	&__box {
		a {
			margin: 3.46rem
				auto 0 auto;
		}
	}
}
