.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	transition: all 1s
		ease-in-out;

	&--hidden {
		opacity: 0;
		transform: translateY(
			-100%
		);
	}

	&__wrapper {
		height: 6.857rem;
		display: flex;
		padding: 1.143rem
			0;
		justify-content: space-between;
		align-items: center;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		margin-right: 15.5rem;
		display: flex;
		gap: 2.34rem;
		text-transform: uppercase;
	}

	&__search {
		margin-right: 1.143rem;
		width: 1.357rem;
		height: 1.357rem;
		cursor: pointer;
		svg {
			fill: $black-text;
		}
	}
	&__basket {
		margin-right: 2.286rem;
		width: 1.357rem;
		height: 1.357rem;
		cursor: pointer;
		svg {
			stroke: $black-text;
		}
	}

	&--white {
		color: $white;

		li {
			&:after {
				background-color: $white;
			}

			&:hover:after {
				background-color: $white;
			}
		}
	}

	&--stroke {
		svg {
			stroke: $white;
			fill: none;
			transition: $transition;

			&:hover,
			&:focus {
				stroke: $white-bg;
			}
		}
	}

	&--fill {
		svg {
			fill: $white;
			stroke: none;
			transition: $transition;

			&:hover,
			&:focus {
				fill: $white-bg;
			}
		}
	}

	&__logo--filter {
		filter: brightness(
				0
			)
			saturate(100%)
			invert(100%)
			sepia(100%)
			saturate(0%)
			hue-rotate(
				73deg
			)
			brightness(
				101%
			)
			contrast(101%);
	}
}

.custom-logo {
	width: 8.571rem;
	height: 4.571rem;
}

.menu-item {
	width: fit-content;
	position: relative;
	cursor: pointer;
	text-decoration: none;

	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: -0.214rem;
		width: 0;
		height: 0.071rem;
		background-color: $black-text;
		transition: width
			0.5s;
	}

	&:hover:after {
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		bottom: -0.214rem;
		height: 0.071rem;
		background-color: $black-text;
		transition: width
			0.5s;
	}
}

.current-menu-item {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -0.214rem;
		width: 100%;
		height: 0.071rem;
		background-color: $black-text;
	}
}
