.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	transition: all 1s
		ease-in-out;

	&--hidden {
		opacity: 0;
		transform: translateY(
			-100%
		);
	}

	&__wrapper {
		height: 6.857rem;
		display: flex;
		padding: 1.143rem
			0;
		justify-content: space-between;
		align-items: center;
	}

	&__inner {
		width: 60.3rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		gap: 2.34rem;
		text-transform: uppercase;
	}

	&__search {
		padding: 0.714rem
			0;
		margin-right: 0.6rem;
		display: flex;
		transition: $transition;

		&.active
			.header__input {
			opacity: 1;
			width: 11.286rem;
		}

		&.active {
			margin-right: 1.143rem;
			border-bottom: 0.071rem
				solid
				$black-text;
			transition: $transition;
		}

		svg {
			width: 1.357rem;
			height: 1.357rem;
			fill: $black-text;
			cursor: pointer;
		}
	}

	&__input {
		margin-left: 0.643rem;
		opacity: 0;
		width: 0;
		background-color: transparent;
		overflow: hidden;
		transition: $transition;

		&::-webkit-search-cancel-button {
			appearance: none;
			margin-right: -0.35rem;
			width: 1.357rem;
			height: 1.357rem;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19' fill='none'%3E%3Cpath stroke='%23202020' stroke-linecap='round' d='m5.243 13.243 8.485-8.486M5.243 4.757l8.485 8.486'/%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}

	&__basket {
		margin-right: 2.286rem;
		width: 1.357rem;
		height: 1.357rem;
		cursor: pointer;
		svg {
			stroke: $black-text;
		}
	}

	&--white {
		color: $white;

		.header__search.active {
			border-color: $white;
		}

		input {
			color: $white;

			&::-webkit-search-cancel-button {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='m5.243 13.243 8.485-8.486M5.243 4.757l8.485 8.486'/%3E%3C/svg%3E");
			}
		}

		li {
			&:after {
				background-color: $white;
			}

			&:hover:after {
				background-color: $white;
			}
		}
	}

	&--stroke {
		svg {
			stroke: $white;
			fill: none;
			transition: $transition;

			&:hover,
			&:focus {
				stroke: $white-bg;
			}
		}
	}

	&--fill {
		svg {
			fill: $white;
			stroke: none;
			transition: $transition;

			&:hover,
			&:focus {
				fill: $white-bg;
			}
		}
	}

	&__logo--filter {
		filter: brightness(
				0
			)
			saturate(100%)
			invert(100%)
			sepia(100%)
			saturate(0%)
			hue-rotate(
				73deg
			)
			brightness(
				101%
			)
			contrast(101%);
	}
}

.custom-logo {
	width: 8.571rem;
	height: 4.571rem;
}

.menu-item {
	width: fit-content;
	position: relative;
	cursor: pointer;
	text-decoration: none;

	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: -0.214rem;
		width: 0;
		height: 0.071rem;
		background-color: $black-text;
		transition: width
			0.5s;
	}

	&:hover:after {
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		bottom: -0.214rem;
		height: 0.071rem;
		background-color: $black-text;
		transition: width
			0.5s;
	}
}

.current-menu-item {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -0.214rem;
		width: 100%;
		height: 0.071rem;
		background-color: $black-text;
	}
}
