.hero {
	position: relative;

	&__video {
		width: 100%;
		height: 100vh;
		position: absolute;
		object-fit: cover;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__wrapper {
		padding-bottom: 1.714rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	&__box {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__text {
		margin: 0 0
			0.97rem
			0.214rem;
		color: $white;
		font-size: 1rem;
		text-transform: uppercase;
	}

	&__circle {
		margin-left: 30.5rem;
		width: 8.241rem;
		height: 8.241rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white-bg;
		border-radius: 50%;
		cursor: pointer;
		transform: rotate(
			30deg
		);
		transition: $transition;

		&:hover,
		&:focus {
			transform: rotate(
				0deg
			);
		}

		svg {
			width: 1.84rem;
			height: 1.84rem;
		}
	}

	&__contacts {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__inner {
		display: flex;
		gap: 0.714rem;
	}

	&__icon {
		svg {
			width: 2.214rem;
			height: 2.214rem;
			fill: $white;
			transition: $transition;

			&:hover,
			&:focus {
				transform: scale(
					1.13
				);
			}
		}
	}

	&__tel {
		width: fit-content;
		svg {
			width: 3rem;
			height: 3rem;
			transition: $transition;

			&:hover,
			&:focus {
				transform: scale(
					1.13
				);
			}
		}
	}
}
